@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rufina&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Oxygen, sans-serif;
    font-size: large;
    font-weight: 400;
    color: #324B4A;
    letter-spacing: 4px;
}

/*headings and logo*/

h1 {
    font-size: xxx-large;
}

h1,
h2 {
    font-family: "Rufina", serif;
    font-weight: 400 bold;
    letter-spacing: 4px;
    color: #006554;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
}

#logo {
    float: left;
    font-size: 300%;
    font-weight: bold;
}

/* navigation links */

#menu {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2F4858;
}

.active {
    border-bottom: 1px solid #2F4858;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;


    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#cover-text {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: #324B4A;
    text-align: center;

    width: 400px;
    height: fit-content;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;

    background-color: rgba(163, 207, 205, .9);

    bottom: 110px;
    right: 30px;

    position: absolute;
}

#cover-text>p {
    font-style: italic;
    font-size: large;
}


.learn-more {
    font-size: medium;
    text-decoration: none;
    color: #006554;
    border: solid thin;
    border-radius: 25%;
    background-color: inherit;
    padding: 5px;
    box-shadow: 10px 5px 5px #006554;
}

.learn-more a:hover {
    background-color: aliceblue;
}

hr {
    height: 22px;
    width: 100%;
}

/* Adding styling to the Meditation Benefits Section */
#why {
    width: 100%;
    height: 60px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#meditation-benefits {
    width: 100%;
    height: 800px;

    background-image: url("../images/benefits.webp");
    background-size: cover;
    display: block;
    position: relative;
    overflow: hidden;
}

#meditation-benefits>ul {
    width: fit-content;
    height: fit-content;

    list-style-type: none;

    text-align: center;
    color: #324B4A;

    margin: 30px;

    vertical-align: middle;

}

#meditation-benefits li {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(163, 207, 205, 1);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*Exercises and Retreat Section*/

#get-started {
    background-image: url("../images/get-started.webp");
    width: 49.5%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    opacity: 0.9;
    border: 2px white solid;
    display: inline-block;
    position: inherit;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}



#retreats {
    background-image: url("../images/retreats.webp");
    width: 49.5%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    opacity: 0.9;
    border: 2px white solid;
    display: inline-block;
    position: inherit;
    left: 50%;
    bottom: 600px;
    box-sizing: border-box;
}

#get-started>a {
    width: 50%;
    height: fit-content;
    font-size: x-large bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 1);
}

#get-started>a>h2 {
    width: 50%;
    height: fit fit-content;
    text-align: center;
    opacity: 1;
    background-color: rgba(163, 207, 205, 0.8);
    position: relative;
    left: 25%;
    top: 50%;
}

#retreats>a {
    width: 50%;
    height: fit-content;
    font-size: x-large bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.2);
}

#retreats>a>h2 {
    width: 50%;
    height: fit-content;
    text-align: center;
    opacity: 1;
    background-color: rgba(163, 207, 205, 0.8);
    position: relative;
    left: 25%;
    top: 50%;
}

/* Footer Section*/

.line {
    width: 100%;
    height: 2px;
    background-color: #324B4A;
    margin: 20px 0 0 0;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #324B4A;
}

/* Excercises page styling*/

#intro-image {
    height: 600px;
    width: 100%;
    background: url('../images/exercises.webp') no-repeat center center;
    background-size: cover;


    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}


.video {
    min-width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

/*Style retreats page*/

#intro-image-retreats {
    height: 600px;
    width: 100%;
    background: url('../images/retreat-page.webp') no-repeat center center;
    background-size: cover;


    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#retreat-contact {
    text-decoration: none;
}

/* Style contact page*/

form {
    width: 100%;
    height: 700px;
    background: url(../images/contact-form.webp) no-repeat top center fixed;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    margin: 1px;
}

.form-container {
    margin: 10px;
    padding: 10px;
}

.contact-form {
    width: 18.5%;
    height: fit-content;
    font-family: Oxygen, sans-serif;
    font-size: large;
    font-weight: 400;
    color: #324B4A;
    letter-spacing: 4px;
    float: right;
    border: thin solid rgba(163, 207, 205, 1);
    padding: 20px;
    margin: 10px;
    display: inline;
    top: 30px;
    position: relative;
}

.contact-form-text {
    width: 41.3%;
    height: 250px;
    font-family: Oxygen, sans-serif;
    font-size: large;
    font-weight: 400;
    color: #324B4A;
    letter-spacing: 4px;
    float: right;
    border: thin solid rgba(163, 207, 205, 1);
    padding: 20px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 20px;
}

.get-in-touch {
    width: 20%;
    height: fit-content;
    font-family: Oxygen, sans-serif;
    font-size: large;
    font-weight: 400;
    color: #324B4A;
    letter-spacing: 4px;
    background-color: rgba(163, 207, 205, 0.8);
    float: right;
    padding: 20px;
    margin: 10px;
    top: 20px;
    position: relative;
}

/*Style About Page*/

#about-image {
    display: inline;
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    margin: 10px;
}

#about-text {
    display: inline;
    width: 37%;
    height: 100%;
    position: relative;
    float: left;
    margin: 40px;
    text-align: center;

}

/* Style Thank you page */

.thank-you {
    width:100%;
    text-align: center;
}